@use '../../styles/global' as *;

.editProfile {
  padding: 0 1.5rem;
  @include display-column(2.4rem);

  &__txt {
    color: $gray;
    display: inline-block;
    margin-top: .4rem;
    @include font-custom(Roboto, 1.2rem, $height: 150%);

    &--desc {
      color: $faded;
    }
  }

  &__box {
    border-radius: 1.6rem;
    background: $midnight;
    padding: 1.5rem;
    @extend %display-column;
  }

  &__boxTop {
    @include display(.4rem);
  }

  &__boxTitle {
    color: $white;
    @include font-custom($weight: 700, $height: 150%)
  }

  &__boxIcon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__boxTxt {
    color: $gray;
    margin-top: .4rem;
    margin-bottom: 1.6rem;
    @include font-custom($height: 150%)
  }

  &__ipts {
    @include display-column(1.6rem);
  }

  &__preview {
    @include display-column(.4rem);
  }

  &__top {
    position: relative;
    margin-bottom: .4rem;
    @include display(.4rem);
  }

  &__title {
    color: $white;
    @include font-custom(Roboto, 1.2rem);
    @include display-column(.4rem);
  }

  &__tipe {
    position: relative;

    &:hover {
      .editProfile__previewtxt {
        display: block;
      }
    }
  }

  &__iconTipe {
    width: 1.6rem;
  }

  &__previewtxt {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    color: $white;
    font-size: 1rem;
    background: $dawn;
    border-radius: 1.5rem;
    border: .1rem solid $gray-dark;
    padding: 1.5rem;
    width: 100%;
    max-width: 20rem;
    min-width: 20rem;
  }

  &__url {
    color: $gray-light;
    @extend %default-font;

    &--desc {
      color: $white;
    }
  }

  &__btns {
    margin-top: 3.6rem;
    @include display-column(1.5rem);
  }
}