@use '../../../styles/global' as *;

.info {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__picture {
    display: flex;
    align-items: center;
    column-gap: .8rem;
  }
}