$gray: #757575;
$gray-light: #999999;
$gray-mid: #555555;
$gray-dark: #333333;

$charcoal: #232323;
$dawn: #111111;
$faded: #cccccc;
$midnight: #1a1a1a;

$white: #ffffff;
$black: #000000;

$dark-ink: #ffffff;

$pink-hot: #ff007a;
$peach: #ff8383;
$blue: #2081e2;

$purple: #3f0628;
$white-alt: #f4f4f4;
$white-alpha-45: #ffffff73;
