// Helvetica
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src:  local('Helvetica'),
        url('/fonts/Helvetica/Helvetica.ttf') format('truetype');
}

// Montserrat
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src:  local('Montserrat'),
        url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:  local('Montserrat'),
        url('/fonts//Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

// Roboto
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  local('Roboto'),
        url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src:  local('Roboto'),
        url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  local('Roboto'),
        url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src:  local('Roboto'),
        url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
