@use '../../styles/global' as *;

%text-style {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: $white;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  min-height: 6.4rem;
  border-bottom: .1rem solid $gray-dark;

  &__type {
    @extend %text-style;
  }

  &__txt {
    @extend %text-style;
    color: $gray-light;

    &--empty {
      color: $gray-mid;
    }
  }

  &__side {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__icon {
    width: 2.4rem;
    transform: rotate(180deg);
  }
}