@use '../../styles/global' as *;

.option {
  justify-content: space-between;
  gap: 1.5rem;
  border-bottom: .1rem solid $gray-dark;
  min-height: 6.4rem;
  @extend %default-display;

  &__type {
    color: $white;
    @extend %default-roboto;
  }

  &__txt {
    color: $gray-light;
    @extend %default-roboto;

    &--empty {
      color: $gray-mid;
    }
  }

  &__side {
    gap: 1.5rem;
    @extend %default-display;
  }

  &__icon {
    width: 2.4rem;
    transform: rotate(180deg);
  }
}
