@use '../../styles/global' as *;

.option {
  border-bottom: .1rem solid $gray-dark;
  min-height: 6.4rem;
  justify-content: space-between;
  @include display(1.5rem);


  &__type {
    color: $white;
    @extend %display-default;
    @include font-custom($height: 160%);
  }

  &__txt {
    text-align: end;
    color: $gray-light;
    @extend %display-default;
    @include font-custom($height: 160%);

    &--empty {
      color: $gray-mid;
    }
  }

  &__side {
    @include display(1.5rem);
  }

  &__icon {
    width: 2.4rem;
    transform: rotate(180deg);
  }
}
