@use '../../styles/global' as *;

.pageTitles {
  padding: 0 0 1.5rem 0;
  @include display(1.5rem);

  &__back {
    width: 4.8rem;
    height: 4.8rem;
    background: $charcoal;
    border-radius: 100%;
    border: 0;
  }

  &__icon {
    width: 2.4rem;
  }

  &__title {
    color: $white;
    margin-bottom: .7rem;
    @include font-custom(Montserrat, 1.4rem, 500, $transform: uppercase);
  }

  &__conf {
    color: $gray-light;
    @include font-custom(Roboto, 1.4rem);
  }
}
