@use '../../styles/global' as *;

.header {
  @extend %default-display;
  background: $black; 
  min-height: 6.8rem;

  &__logo {
    max-width: 12.2rem;
  }

  &__side {
    @extend %default-display;
    column-gap: 2rem;
    margin-left: auto;
  }

  &__icon {
    width: 2.5rem;
  }
}