@use '../../styles/global' as *;

.header {
  background: $black; 
  min-height: 6.8rem;
  @extend %display-default;

  &__logo {
    max-width: 12.2rem;
  }

  &__side {
    margin-left: auto;
    @include display(2rem);
  }

  &__chatBtn {
    width: 2.5rem;
    height: 2.5rem;
    background: url(/icons/chat.png);
  }
}
