@use '../../styles/global' as *;

.allowRequests {
  @include display(1.5rem);

  &__icon {
    width: 4rem;
  }

  &__title {
    color: $white;
    @extend %display-default;
    @include font-custom($height: 160%);
  }

  &__txt {
    color: $gray-light;
    @extend %display-default;
    @include font-custom($size: 1.2rem, $height: 150%);
  }

  &__label {
    position: relative;
    min-width: 5rem;
    height: 3rem;
    align-self: center;
    border: .1rem solid $gray-dark;
    background: $purple;
    border-radius: 3rem;
    padding: .4rem;
    cursor: pointer;
    margin-left: auto;
  }

  &__ipt {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__bolinha {
    position: absolute;
    top: .4rem;
    left: 50%;
    width: 2rem;
    height: 2rem;
    background: $pink-light;
    border-radius: 50%;
    transition: transform .4s;

    &--active {
      transform: translateX(-2rem);
    }
  }
}